@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --color-current: #903749;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #dedede;
}

a{
    text-decoration: none;
}

body{
    background-color: #53354a;
}

.current-section-color{
    background-color: var(--color-current);
}

/* NAVBAR */
#navbar{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    background-color: #53354a;

}

#navbar .logo{
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

#navbar .logo span{
    color: #e84545;
}

#navbar .company-name{
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;

}

#navbar ul{
    list-style: none;
    display: flex;
    justify-items: center;
    font-size: 1.1rem;
}

#navbar ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar ul li:hover{
    background-color: var(--color-current);
}

#navbar ul li a{
    padding: 1rem;
    background: none;
}

/* CURRENT THEME */
.current-subject{
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: var(--color-current);
    font-size: 2rem;
}

/* MAIN */
.main{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

.wrapper{
    padding: 0.5rem;
    max-width: 1200px;
    margin: auto;
}

.main .subjects{
    padding: 0.5rem;
}

.main .subjects ul{
    list-style: none;
    font-size: 1.1rem;

}

.main .subjects ul a{
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

.main .subjects ul a:hover{
    background-color: var(--color-current);
}

.main .articles {
    padding: 1rem;
}

.main .articles .article{
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #6e3a5f;
}

.main .articles .article a:hover{
    color: #e84545;
}

.main .articles .article p{
    padding-top: 1rem;
    line-height: 1.5;
}

.featured-articles{
    padding: 0.5rem;
}

.featured-articles .f-article{
    padding-top: 1rem;
}

.featured-articles .f-article p{
    padding-top: 1rem;
    line-height: 1.4;
}

/* ADMIN */

.add-new-links{
    border-bottom: var(--color-current) solid 1px;
    padding-bottom: 1rem;
}

.add-new-links a{
    padding: 0.5rem;
    font-size: 1.5rem;
}

.add-new-links a:hover{
    color: #e84545;
}

.admin-articles .article{
    padding: 0.5rem;
    background-color: #6e3a5f;
    margin-bottom: 1rem;
}

.admin-articles .article h2{
    padding: 0.5rem;
}

.admin-articles .article p{
    line-height: 1.4;
}

.admin-articles .article a:hover{
    color: #e84545;
}


/* ADD SUBJECT*/
.subject_form, .login_form{
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.subject_form, .login_form form{
    padding: 2rem;
}

.subject_form form label,input{
    margin: 0.3rem 0;
}

.edit_form form label,input{
    margin: 0.3rem 0;
}

.login_form form label,input{
    margin: 0.3rem 0;
}

.subject_form form input{
    height: 1.7rem;
}

.edit_form form input{
   height: 1.7rem;
}

.login_form form input{
    height: 1.7rem;
}

.subject_form form input[type='text'] {
    color: black;
}
#submit{
    width: 30%;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--color-current);
    border: none;
    font-size: 1.1rem;
    height: 2rem;
}

#submit:focus{
    color: red;
    border: none;
}

/* ABOUT*/
.about{
    text-align: center;
    padding-top: 1rem;
}


/* footer */
footer{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ADMIN*/
.admin-main{
    max-width: 900px;
    margin: auto;
    padding-top: 2rem;
}

.admin-main .add-new-links{
    display: flex;

}

.admin-main .add-new-links .logout-link{
    margin-left: auto;
}

.admin-articles .article{
    padding-top: 1rem;
}

.admin-articles .article p{
    padding-top: 1rem;
}

.login_form form input[type='text'] {
    color: black;
}



/* EDIT */
.edit-form-container{
    max-width: 900px;
    margin: auto;

}

.edit_form form input[type='text'], textarea, select {
    color: black;
}


.form-input{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}