{% extends 'base.html' %}

{% block current_subject %}
<section class="current-subject">
    <div class="theme-subject">
        About
    </div>
</section>
{% endblock %}

{% block contents %}

<section class="about">
    <p>
        This site was developed as the project for the day 82 of the course <a href="https://www.udemy.com/course/100-days-of-code/">100 Days of Code</a> by Angela Yu.
        <br>
        <br>
        I used all themes about web development that were given during that course.
        <br>
        There is an admin section where you can add and edit articles.
        <br>
        You can log in and log out.
        <br>
        Also this site may be a good cheat-sheet (Flask, WTForms, SQLAlchemy, user login and logout).
    </p>
</section>



{% endblock %}